{% extends 'base.html' %}
{% block content %}
<div class="list-header">
  <h2>Contratos</h2>
  <a class="btn" href="{{ url_for('contratos_novo') }}">Novo Contrato</a>
  </div>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Cliente</th>
      <th>Vendedor</th>
      <th>Início</th>
      <th>Término</th>
      <th>Tipo</th>
      <th>Período (dias)</th>
    </tr>
  </thead>
  <tbody>
    {% for c in contratos %}
    <tr>
      <td>{{ c.id }}</td>
      <td>{{ clientes[c.client_id].nome_fantasia }}</td>
      <td>{{ vendedores[c.vendor_id].nome }}</td>
      <td>{{ c.start_date }}</td>
      <td>{{ c.end_date }}</td>
      <td>{{ c.tipo }}</td>
      <td>{{ c.periodo_total }}</td>
    </tr>
    {% endfor %}
  </tbody>
{% endblock %}
